.members-trigger {
  position: relative;
  width: 100%;
  height: (43rem/16);

  &.closed {
    padding-left: 2.8rem;
  }
}

.closedAffordance {
  position: absolute;
  top: 0;
  left: 0;
}

.triggerWrapper {
  position: absolute;
  top: 0;
}

.saving-affordance {
  margin-top: .75rem;
  vertical-align: top;
}
