.buttons-table {
  td {
    text-align: center;
  }
}

.regular-buttons {
  :global(.btn-floating) {
    margin: 0 6px;
  }
}

.action-menu-trigger {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
