.importAndProcessDialog {
  width: (531rem/16);
  text-align: initial;
  white-space: initial;
}

.importAndProcessDialogLastStep {
  width: (450rem/16);
}

.textPadding {
  padding: 0 0 1rem 2.5rem;
}

.hideNotes {
  padding-bottom: 0;
}
