.card {
  width: (420rem/16);
  height: (322rem/16);
  padding: (48rem/16);
}

.text-password {
  padding-top: (26rem/16);
}

.actions {
  padding-top: (48rem/16);
  text-align: right;
}

.btn-done {
  width: (120rem/16);
}

.btn-cancel {
  width: (88rem/16);
}
