@import '../../sass/_colors';

@keyframes fadeInAndRotate {
  0% {
    transform: rotate(-60deg) scale(0);
    opacity: 0;
  }

  100% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}

button.action-button {
  &:global(.btn),
  &:global(.btn-large) {
    display: inline-block;
    min-width: initial;
    padding: 0;
    animation: fadeInAndRotate .3s ease-out;
    border-radius: 100%;
    box-shadow: (1rem/16) (4rem/16) (15rem/16) 0 rgba(0,0,0,.36);
  }

  &.small {
    width: (40rem/16);
    min-width: (40rem/16);
    height: (40rem/16);
    padding: (10rem/16);

    .action-icon {
      width: auto;
      height: auto;
    }

    &:global(.btn),
    &:global(.btn-large) {
      box-shadow: 0 (2rem/16) (5rem/16) 0 rgba(0,0,0,.16), 0 (2rem/16) (10rem/16) 0 rgba(0,0,0,.16);
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
