.idea/
node_modules/
static/dist/
static/dev-dist/
auth/static/dist/
auth/static/dev-dist/
consumer/static/dist/
consumer/static/dev-dist/
*.iml
webpack-stats.json
npm-debug.log
todo
report/
*.orig
coverage/
*.DS_Store
output.xlsx
.cache/
**/cucumber/output/*
cucumber/bk.sqlc
phantomjsdriver.log
.vagrant/
.box/
resources/svgs/
resources/generated-routes/
logs/
server/configs/local.js
*.sublime-project
*.sublime-workspace
.nyc_output/
Makefile
report_integration/
node_cache/
.yarn-cache/
server/import/__tests__/resources/inventory-trim-down-teams-*.xlsx
uploads/
yarn-error.log
rabbitmqadmin
npm-debug.log*
jsconfig.json
.vscode/
red-dist/
.sonar/
static/dev-dist/
static/thirdparty/
server/api/swagger.json
server/api/private.json
.cache-loader/
.stats/
phones-report