@import '../../sass/_colors.scss';

.icon {
  position: relative;
  width: 4.5em;
  height: 4.5em;
  color: $grey200;

  fill: currentColor;

  &.icon-red {
    color: #d50000;
  }
}

.count {
  position: absolute;
  top: 2.1em;
  left: 1.8em;
}

.count-light {
  color: $grey200;
}
