.link {
  &,
  &:visited {
    text-decoration: none;
    color: #5e93c5;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    color: #7eadda;
    outline: 0; /* reset for :focus */
  }

  &:active {
    color: #4a7bab;
  }
}
