.income-source-form {
  padding-bottom: 0;

  [data-component='form'].form-compact {
    min-width: (450rem/16);
  }

  .no-label-fix {
    padding: 0;
    padding-top: 1.1em;
    padding-bottom: 0;
  }
}

.small-cell {
  width: 100%;
}

.medium-cell {
  width: 50%;
}

.cell {
  display: inline-block;
}
