@import '../../sass/_colors';

.headlineButtonWrapper {
  display: inline-block;
}

.headlineButton {
  font-size: 18px;
  width: 36px;
  height: 34px;
  vertical-align: bottom;
  color: $white;
  border: 0;
  background: $brown500;
}

.headlineButton:hover,
.headlineButton:focus {
  background: $brown700;
}
