@import '../../../../client/sass/_colors.scss';

.iframe {
  position: relative;
  width: 100%;
  height: calc(100vh - (64em/16));
  border: 0;
}

.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - (64rem*2/16));

  p {
    font-size: (24rem/16);
  }
}
