.memberCardsSection {
  display: flex;
  flex-direction: row;
  padding: .5em;

  flex-wrap: wrap;
}

.renewalSection {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding-top: 1.5em;
}

.addMemberButton {
  margin: .5em !important;
}
