.text-description span {
  font-size: (13rem/16);
}

.text-cell span {
  margin-right: .25em;
}

span.text-suffix {
  margin-left: .25em;
}

.transactionList {
  .empty-message {
    padding: 1rem 1.5rem;
  }
}
