.page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - (64em/16));

  .card {
    width: (408rem/16);
    padding-top: 0;
    padding-bottom: 0;
  }
}

.form {
  padding: (22rem/16) (32rem/16) (32rem/16);
}

.form-actions {
  margin-top: (36rem/16);

  > button {
    float: right;
    width: (200rem/16);
  }
}

.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - (64rem*2/16));

  .body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: (32rem/16) 0;
    text-align: center;

    .title {
      margin: (24rem/16) 0;
    }

    .image-broke-rope {
      display: inline-block;
      width: 370px;
      height: 306px;
      background: url('../../../images/errorImage.png');
    }
  }
}

.error-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: (400rem/16);
  min-height: (350rem/16);
}
