@import '../../sass/_colors.scss';

.froalaEditor {
  :global(.fr-box.fr-basic .fr-wrapper),
  :global(.fr-toolbar .fr-desktop .fr-bottom) {
    border: none;
    background-color: transparent;
  }
}

.froalaToolbar {
  :global(.fr-toolbar) {
    border: none;
    background-color: transparent;
  }

  :global(.fr-toolbar .fr-more-toolbar.fr-expanded) {
    border: 1px solid rgba(0, 0, 0, .12);
  }

  :global(.fr-toolbar .fr-more-toolbar) {
    top: -17px;
    box-sizing: border-box;
    border-radius: 3px;
    background: #fafafa;
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .24);
  }

  :global(.fr-command.fr-btn) {
    border-radius: 25px !important;
  }

  :global(.fr-toolbar .fr-command.fr-btn.fr-open) {
    margin-top: 4px;
    margin-bottom: 2px;
    background: rgba(0, 0, 0, .12) !important;
  }

  :global(.fr-newline) {
    background-color: transparent !important;
  }

  :global(.fr-command.fr-btn > span) {
    min-width: 40px;
  }

  :global(.fr-toolbar .fr-btn-grp) {
    margin: 0;
  }

  :global(.fr-toolbar .fr-btn-grp .fr-svg path),
  :global(.fr-toolbar .fr-more-toolbar .fr-svg path) {
    fill: rgba($black, .54);
  }
}

// the .fr-popup global fixes the url edit popup window appearing at the root of the dom structure
// this has the side effect of altering all other froala popups but it doesn't adversely affect
// them since they are added inside the froala dom structure

:global(.fr-popup) {
  z-index: 250 !important;
}

:global(.fr-popup .fr-buttons .fr-btn .fr-svg path) {
  fill: rgba($black, .54);
}

:global(.fr-popup .fr-buttons .fr-command.fr-btn.fr-dropdown)::after,
:global(.fr-more-toolbar .fr-command.fr-btn.fr-dropdown)::after {
  border-top-color: rgba($black, .54) !important;
  border-bottom-color: rgba($black, .54) !important;
}

.sendButtonWrapper {
  position: absolute;
  z-index: 1;
  right: 25px;
  bottom: 22px;
}
