@import '../../../../client/sass/_colors.scss';

.message-form-container {
  display: flex;
  flex-direction: column;
  width: (464rem/16);
  height: 100%;

  .form {
    height: (532rem/16);

    .to {
      padding: (14rem/16) (16rem/16);
      border-bottom: solid (1rem/16) rgba($black, .12);
    }

    .subject {
      padding: (12rem/16) (16rem/16);
      border-bottom: solid (1rem/16) rgba($black, .12);
    }

    .message {
      display: flex;
      height: (437rem/16);
      padding-left: (16rem/16);
    }
  }

  .actions {
    height: (52rem/16);
    padding: (8rem/16) (9rem/16);
    text-align: right;
    border-top: solid (1rem/16) rgba($black, .12);

    [data-component='button'] {
      min-width: (99rem/16);
      margin-left: (8rem/16);
    }
  }
}
