.profile-header {
  width: (496rem/16);
}

.card-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: (56rem/16);
  margin-bottom: (12rem/16);

  > button {
    margin-left: auto;
  }

  :first-child {
    margin: 0;
    padding: 0;
  }
}

.card {
  padding: (8rem/16) (24rem/16);
}

.card-title {
  > div {
    font-weight: 500;
  }
}

.header-note {
  margin: (6rem/16) 0 (4rem/16);
}
