.card[data-component='card'] {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.message {
  width: 60%;
  text-align: center;
}

.actions {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 60%;
  margin-top: 1em;
}
