.pet-summary {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;

  > div {
    width: 33%;
  }

  .card-divider {
    padding-right: (5rem/16);
    border-right: 1px solid rgba(0,0,0,.12);

    &:last-of-type {
      border-right: 1px solid transparent;
    }
  }
}

.pet-card {
  padding: 0;
}
