.section-content {
  margin-top: (24rem/16);
  padding: 0rem (24rem/16) 0rem (24rem/16);
}

.section-title {
  margin-bottom: (10rem/16);
}

.section-cards {
  margin-top: (12rem/16);
}

.card {
  padding-bottom: (24rem/16);
}
