.wrapper {
  flex-grow: 2;
}

.combo-actions {
  ul {
    margin: 0;
    padding: (6rem/16) (4rem/16) (6rem/16) (4rem/16);

    li {
      padding: (14rem/16);
      cursor: pointer;
    }
  }
}

.commBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    margin: 0rem (1rem/4);
  }

  [data-red-icon]:hover {
    cursor: pointer;
  }
}

.dropdown {
  width: (40rem/16);

  button {
    margin: (1rem/16) 0rem;
  }
}
