@import '../../sass/_colors.scss';

.unavailable-items-dialog {
  width: (490rem/16);
}

.date-message {
  margin-top: .75em;

  > span {
    color: $purpleA100;
  }
}

.unavailable-item-message {
  margin-top: 1em;
}
