@import '../../../../client/sass/_colors.scss';

.avatar {
  position: relative;
  width: (20rem/16);
  height: (20rem/16);
}

.avatar-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.letters {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: $blue50;

  > span {
    font-size: .625em;
    position: relative;
  }
}

.card {
  display: flex;
  align-items: center;

  > p {
    margin: 0 0 0 (6rem/16);
  }

  .icon {
    width: (20rem/16);
    height: (20rem/16);

    svg {
      fill: rgba(0, 0, 0, .54);
    }

    &.icon-blue {
      svg {
        fill: $blue600;
      }
    }
  }
}

.fair_market {
  background-color: $lightGreen300;
}

.students {
  background-color: $pink200;
}

.corporate {
  background-color: $lightBlue200;
}

.employee {
  background-color: $deepOrange300;
}

.section8 {
  background-color: $indigo200;
}

.good_samaritan {
  background-color: $amber300;
}

.not_yet_determined {
  background-color: $grey500;
}
