@import '../../../../client/sass/_colors.scss';

.wrap_container {
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: (550rem/16);
    background: $grey50;

    .account {
      padding-top: .5em;

      button {
        display: block;
        margin: .4em auto;
      }
    }
  }
}

.message-block {
  position: relative;
  display: block;
  margin: (8em/16) 0 0 0;
  padding: (12em/16) (20em/16);
  background-color: rgba($blueGrey100, .54);

  .text {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: (24rem/16);
  }
}
